@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
* {
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400 !important;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a.login {
  display: inline-block;
  margin: 0 auto;
  background-color: #297FB8;
  color: #FFF;
  padding: 0px 25px;
}
body {
  background: url(../img/bg_tile.png);
}
#wrapper {
  text-align: center;
}
.logo {
  display: block;
  margin: 100px auto;
  width: 200px;
  height: 200px;
  background: url(../img/logo.svg);
  background-size: 200px 200px;
}
